* {
    margin: 0;
}
header {
    background: #7c8082;
    padding-top: 50px;
    padding-bottom: 35px;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}